body {
  margin: 0;
  background-color: rgb(33, 32, 32);
  color: #ffffff;
}

.page-row{
  display: flex;
}

.page-column{
  padding: 10px;
}

h2 {
  text-align: center;
}

.statistic-container{
  display: flex;
  flex-direction: column;
}

.statistic-row{
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.statistic-label{
  text-align: left;
}

.statistic-value{
  text-align: right;
}



.page-left {
  flex: 25%;
}

.page-right {
  flex: 75%;
}

.footer, #footer{
  color: white;
}

.footer-link{
  color: white;
  list-style-type: none;
  display: inline-block;
  margin: 5px 20px 5px 20px;
}
.footer{
position: relative;
left: 0;
bottom: 0;

width: 100%;
color: white;
text-align: center;
}

#footer{
  font-size: small;
}
.footer-nav{
  text-align: center;
}