@import "../css/pages.css";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
  
.search-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
form{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;

  height: 5rem;
  width: 100%;
}

.region-select{
  font-size: 0.9rem;
  margin-right: 0.8rem;
  padding: 0.8rem;

  width: 6rem;
  height: 3rem;
  border: 0;
}
.text-input-container{
  height: 5rem;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.text-input {
  
  font-size: 0.9rem;
  margin-top: auto;
  margin-right: 0.8rem;
  padding: 0;
  width: 20rem;
  height: 3rem;
  padding-left: 0.8rem;
  border: 0;
}



.text-submit {
  font-size: 0.9rem;
  text-align: center;
  width: 6rem;
  padding: 0.7rem; /* Adjust padding to accommodate the icon */
  height: 60%;
  border: 0;
}

.error {
  color: red;
  font-size: 0.9rem;
  margin: 0;
  height: 2rem;
}

.error-input {
  border: 2px solid red;
  border-radius: 4px;
}

@media screen and (max-width: 50em){
  form {
    display: flex;
    flex-flow: column nowrap; /* Change to vertical layout */
    align-items: center; /* Make elements fill the width */
    text-align: left;
    width: 80%;
  }

  .region-select, .table-select, .text-input, .text-submit {
    margin-right: 0; /* Remove right margin */
    margin-bottom: 0.8rem; /* Add bottom margin to separate elements */
  }

  .text-submit {
    margin-bottom: 0; /* Remove margin from the last element */
  }
}