#footer-text{
    color: white;
    font-size: 0.7rem;
}

.footer-link{
    color: white;
    list-style-type: none;
    font-size: 0.7rem;
}

#footer{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60em;
}

a:link{ text-decoration: none; }
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white }
a { color: inherit; } 